:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);


    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black-lightbox-background: hsl(0, 0%, 0%, 75%);
}
*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
}
#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
   /*---------All Nav-Bar Styles------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border-bottom: 1px var(--Grayish-blue) solid;
}
#toggle_btn{
    display: none;
}
nav{
    display: flex;
}
@media (max-width:980px) {
    
}
#menu{
    margin-left: 3.3rem;
}
#menu img{
    display: none;
    
}
#menu a{
    position: relative;
    width: fit-content;
    text-decoration: none;
    color:var(--Dark-grayish-blue);
    font-weight: 400;
    margin-left: 20px;
    transition: all .3s;
}
#menu a:hover{
    color: var(--Very-dark-blue);
}
#menu a:hover::after{
    display: block;
    position: absolute;
    content: " ";
    height: 3px;
    width:100%;
    left: 0%;
    bottom: -210%;
    background-color: var(--Orange);
    transition: all 0.3s;
}


/*--------styling of nav menu for tablet----*/
@media (max-width:980px) {
    #toggle_btn{
        display: inline;
        margin-right: 5px;
    }
    .dark::after{
        position: absolute;
        content: " ";
        width: 100%;
        height: 100vh;
        top: 0%;
        background-color: var(--Black-lightbox-background);
        opacity: 75%;
        z-index: 4;
    }
    #menu a:hover::after{
        display: none;
    }
    #menu{
        position: absolute;
        background-color: white;
        width: 70%;
        max-width:250px;
        margin-left: 0;
        top: 0%;
        left:-100%;
        height: 100vh;
        z-index: 5;
        transition: left .3s;
    }
    #menu img{
        margin:1.1rem 1.1rem 1.8rem;
        color:var(--Very-dark-blue);
        display: inline;
    }
    #menu a{
        display: flex;
        margin-bottom: 1.5rem;
        flex-direction: column;
        color:var(--Very-dark-blue);
        font-weight: 700;
    }
}
#cart_section{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    position: relative;
}
#cart{
    position: relative;
    margin:0 3.3rem;
    color:var(--Dark-grayish-blue);
}
#cart:hover,#cart:active{
    color: black;
}
#cartnum{
    display: none;
    position: absolute;
    font-size: 0.5rem;
    font-weight: 700;
    padding: 1px 3px;
    border-radius: 40%;
    right: 40%;
    top:-10%;
    color: white;
    background-color: var(--Orange);
}
#cart-menu{
    display: none;
    position: absolute;
    border-radius: 10px;
    width: 324px;
    min-height: 200px;
    top: 40px;
    left:-60px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    background-color: white;
    z-index: 4;
}
#h3{
    height: 40px;
    border-bottom: 1px var(--Grayish-blue) solid;
}
#h3 p {
    font-weight: 700;
    margin: 15px;
}
#purchased{
    height: 100%;
    padding: 10px;
    font-weight: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cartList{
    display: flex;
    align-items: center;
    
}
#cartListImg{
    width: 60px;
}
#cartListImg>img{
    width: 100%;
    border-radius: 5px;
}
#cartListInfo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: var(--Dark-grayish-blue);
    line-height: 25px;
}
#totals{
    color: var(--Very-dark-blue);
    font-weight: 700;
}
#purchased>button{
    color: white;
    background-color: var(--Orange);
    border: none;
    font-weight: 700;
    padding: 20px 120px;
    border-radius: 5px;
}
#avatar:hover{
    border-radius: 50%;
    border: 2px solid var(--Orange);
}
/*--------styling of nav menu for mobile----*/
@media (max-width:480px) {
    #container{
        width:100%;
    }
    header{
        height: 5vh;
        border: none;
        width: 90%;
        margin: 0 auto;
    }
    #cart{
        margin:0 1.1rem ;
    }
    #cart-menu{
        position: fixed;
        top: 6%;
        left: 4%;
        width: 90vw;
        

    }
    #cartnum{
        right: 25%;
    }
}

/*---------Ending of Nav-Bar Styles------*/
/*------styling of page content------*/
section{
    display: flex;
    justify-content: space-between;
    margin: 70px;

}
#left_content{
    width: 45%;
    margin: 10px;
}
#expandedImgWrapper{
    position: relative;
}
#expandedImg{
    width: 95%;
    border-radius: 20px;
    margin-bottom: 10px;
}
#prevbtn{
    display: none;
    position: absolute;
    top: 40%;
    left: 2%;
    padding: 18px 20px;
    border-radius: 50%;  
    background-color: white;  
}
#nextbtn{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 18px 20px;
    top: 40%;
    right: 2%;
}
#thumbnails{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    margin-right: 20px;
}
.thumbnails{
    width: 18%;
    position: relative;
}
.thumbnails>img{
    width: 100%;
    border-radius: 12px;
}
.active::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 95%;
    top: 0%;
    left: 0%;
    background-color: white;
    opacity: 70%;
    border: 2px solid var(--Orange);
    border-radius: 11px;
    z-index: 7;
}

@media (max-width:600px) {
    section{
        flex-direction: column;
        margin: 0;
    }
    #thumbnails{
        display: none;   
    }
    #left_content{
        width: 100%;
        margin: 0;
        
    }
    #expandedImg{
        margin-top: 5px;
        width: 100%;
        border-radius: 0px;
    }
    #prevbtn{
        display: flex;
        align-self: center;
        justify-content: center;
    }    
    #nextbtn{
        display: flex;
        align-self: center;
        justify-content: center;
    }

}
/*styling of the left side of the section*/
#right_content{
    width: 45%;
    margin-top: 70px;
}
@media (max-width:600px){
    #right_content{
        width: 90%;
        margin: 0px auto;
    }
}
#right_content>h5{
    color: var(--Orange);
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0px;
}
#right_content>h1{
    color:var(--Very-dark-blue);
    font-size: 2.2rem;
    margin-bottom: 30px;
}
#right_content>p{
    color: var(--Dark-grayish-blue);
    line-height: 1.6rem;
}
#price{
    display: flex;
}
#price>h2{
    margin: 10px 0px;
    color: var(--Very-dark-blue);
}
#price>p{
    align-self: center;
    color:var(--Orange);
    font-size: 0.7rem;
    font-weight: 700;
    margin: 10px 5px;
    background-color: var(--Pale-orange);
    border-radius: 5px;
    padding: 5px 10px; 
}
#discount{
    font-size: .9rem;
    font-weight: 700;
    color: var(--Grayish-blue);
    text-decoration: line-through;
}
@media (max-width:600px){
    #price_discount{
        display: flex;
        justify-content: space-between;
    }
    #discount{
        align-self:center ;
    }
}
#add-to-cart{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}
@media (max-width:600px){
    #add-to-cart{
        flex-direction: column;
    }
}
#add-to-cart>div{
    display: flex;
    background-color: var(--Light-grayish-blue);
    width: 35%;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    font-weight: 700;
}
@media (max-width:600px){
    #add-to-cart>div{
        width: 100%;
    }
}
#add-to-cart>button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: var(--Orange);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
@media (max-width:600px){
    #add-to-cart>button{
        width: 100%;
        margin-top: 20px;
        height: 40px;
        margin-bottom:20px ;
    }
}
#add-to-cart>button>div{
    margin-right: 10px;
}
@media (max-width:600px){

}